*{
    margin: 0vw;
    padding: 0vw;
    box-sizing: border-box; /*border box toma al conetnido de la caja con el padding y el borde pero no conel margin*/
    font-family: 'Roboto', sans-serif;
}

.padre{
    display: flex;
    flex-flow: column nowrap;
}


/*_______________Header______________________________________*/
.header{
        margin: 1vw 1vw 0vw 1vw;
        padding: 1vw;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        background: linear-gradient(black, #4091ec); 
        color: white;
    }

    .header div img {width: 100%;}
  
        .logo{
           /* background-color: white ;*/
            display: flex;
            align-items: flex-start;
            flex: 1 1;
            margin: 1vw;
        }

        .titulo{
           /* background-color: whitesmoke;*/            display: flex;
            justify-content: flex-start;
            flex: 12 1;
            margin: 1vw;
            padding-left: 10vw;
            font-size: 2.5vw;
            font-weight: bold;
            font-style: italic;
        }

        /*________________Main____________________________________*/
.main{
        margin: 0vw 1vw 1vw 1vw;
        display: flex;
        flex-flow: column nowrap;
        
    }
    
        .nav{
            display: flex;
            justify-content: flex-end;
            margin: 0vw;
            padding: 0.5vw;
            background: linear-gradient(#4091ec,black); 
            position: sticky;
            top: 0;
            
        }

            .nav ul{
                display: flex;
                flex-flow: row nowrap; 
            }
                    .nav ul li {
                        list-style: none;
                        margin-left: 1vw;
                        padding: 0.5vw;
                        background: linear-gradient(white , #4091ec);
                        border-radius: 1vw;   
                        box-shadow: 1px 1px;
                    
                    }

                    .nav ul li:hover{
                        background: linear-gradient(rgb(56, 54, 54) , #4091ec); 
                        box-shadow: 4px 4px;
                    }

                    .nav ul li a{
                        text-decoration: none;  
                        font-size: 1.5vw; 
                    }

                    .nav ul li a:hover{
                        color: white; 
                        font-weight: bold; 
                    }
/*_______________________ Aside ____Slider_______________________________*/
        .form-Perfil{
            background-color: antiquewhite;
            display: flex;
            flex-flow: column nowrap;
            justify-items: center;
            align-items: center;
            padding: 1vw;
            margin: 1vw;
            border-radius: 1%;
            font-size: 2vw;
            
          
        }

        .form-Perfil form{
            background-color: white;
            padding: 1vw;
            margin: 1vw;
            border-radius: 1vw;
            width: 80vw;

        }

        .form-Perfil form h1{
            font-size: 3vw;
            font-weight: 800;
        }
        .form-Perfil form h2{
            font-size: 2.09vw;
            font-weight: bold;
        }

        .form-Perfil form label, input{
            font-size: 1,3vw;
            font-weight: bold;
            width: 15%;
            
        }

        .comentario1{
            width: 70vw;
        }


    /*______________Footer_____________________________*/
.footer{
        margin: 1vw;
        padding: 1vw;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        background:whitesmoke;
    }
.footer h3, p{font-size: 2vw;}
    .nav-redes{padding-left: 40vw;}

    .footer nav img {width: 3%;}
        
/*__________________MEDIA QWERY_________________________*/

    @media only screen and (max-width: 600px){
        .nav{
            order: 3;
            justify-content: center;}

        .nav ul li a{ font-size: 3vw; }

        .footer nav img {width: 8%;}
}

@media only screen and (min-width: 600px){
    .nav ul li a{ font-size: 2.5vw; }
    .footer nav img {width: 5%;}
}

@media only screen and (min-width: 800px){
    .nav ul li a{ font-size: 2vw; }
    .footer nav img {width: 3%;}
}

@media only screen and (min-width: 1000px){
    .nav ul li a{ font-size: 1.5vw; }
}
